DB_HOST=localhost
DB_USER=bitress
DB_PASSWORD=@bitress123
DB_NAME=ischolar_dev
JWT_SECRET_KEY=9cbef6cd6e38cfaef3de376965e1811ee8bdb467085273d813362e17aa23624b8a5c16c914ea2366f15df69d8cfa11ee261429d503db308f45378515fdcea653

REDIS_HOST=172.245.223.114
REDIS_PORT=6379
REDIS_PASSWORD=@bitress123

FERNET_KEY=bjD4L-hyuPGTXhQSVyKdogj9RoXFfev-t19LgaEWk2qQ=

MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=True
MAIL_USERNAME=ispsc.ischolar@gmail.com
MAIL_PASSWORD=wajpduatvejiteir
MAIL_DEFAULT_SENDER=noreply@ischolar.xyz

APP_URL=http://ischolar.test

GOOGLE_CLIENT_ID=1030210753637-rdjig8spapdvuoueuj6pg8nljb8vffog.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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

FACEBOOK_APP_ID=1446271229762291
FACEBOOK_APP_SECRET=bdc25e98e43c61f58b37f76f3b53377f