argon2-cffi
argon2-cffi-bindings
attrs
BareNecessities
bidict
blinker
cachelib
cffi
click
cryptography
flasgger
Flask
Flask-Caching
flask-cors
Flask-JWT-Extended
Flask-Mail
Flask-SocketIO
h11
itsdangerous
Jinja2
jsonschema
jsonschema-specifications
Mail
MarkupSafe
marshmallow
mistune
packaging
pillow
pycparser
PyJWT
PyMySQL
pyotp
python-dotenv
python-engineio
python-socketio
PyYAML
qrcode
redis
referencing
rpds-py
simple-websocket
six
Werkzeug
wsproto