flask-caching
argon2-cffi
argon2-cffi-bindings
attrs
blinker
cffi
click
cryptography
flasgger
Flask
flask-cors
Flask-JWT-Extended
itsdangerous
Jinja2
jsonschema
jsonschema-specifications
MarkupSafe
mistune
packaging
pillow
pycparser
PyJWT
PyMySQL
pyotp
python-dotenv
PyYAML
qrcode
redis
referencing
rpds-py
six
Werkzeug